<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <style>
        .custom-bg-red {
            background-color: red;
        }
    </style>
</head>
<body>
	<!-- Header trong Thymeleaf phải thêm <header><> trong file header.html -->
    <header class="navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand" th:href="@{/aboutusadmin}">Booktopia Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Hiển thị "Username" và "Đăng xuất" và "Giỏ hàng" và "Đơn hàng" -->
                <li class="nav-item active" th:if="${session.admin != null}">
                    <a class="nav-link" th:href="@{/admin}">Trang chủ <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link" th:href="@{/managebooks}">Sản phẩm</a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link" th:href="@{/managecategories}">Danh mục</a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link" th:href="@{/manageorders}">Đơn hàng</a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link" href="#">Chào
                        <span th:text="${session.admin['firstName']}"></span>
                    </a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link" th:href="@{/manageaccounts}">Tài khoản</a>
                </li>
                <li class="nav-item" th:if="${session.admin != null}">
                    <a class="nav-link"
                        th:href="@{/logoutadmin}">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Thêm các tệp tin JavaScript -->
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>