<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật tác giả</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="~{admin/headeradmin :: header}"></div>
    <div class="container">
        <h1>Cập nhật tác giả</h1>

        <!-- Hiển thị thông báo nếu có -->
	    <div th:if="${param.message}" class="alert"
			th:classappend="${#strings.containsIgnoreCase(param.message, 'thành công') ? 'alert-success' : 'alert-danger'}">
			<span th:text="${param.message}"></span>
		</div>

        <form th:action="@{/updateauthor}" method="POST">
            <div class="form-group">
			    <label for="id">Mã:</label>
			    <input type="text" class="form-control" id="id" name="id" th:value="${author.id}" readonly>
			</div>
			
			<div class="form-group">
			    <label for="name">Tên tác giả:</label>
			    <input type="text" class="form-control" id="name" name="name" th:field="${author.name}" required>
			</div>
			
			<div class="form-group">
			    <label for="bio">Tiểu sử:</label>
			    <textarea class="form-control" id="bio" name="bio" rows="4" required th:field="${author.bio}"></textarea>
			</div>
			
			<div class="text-center mb-4">
			    <button type="submit" class="btn btn-primary">Lưu</button>
			    <a th:href="@{/managedetailauthor(authorId=${author.id})}" class="btn btn-secondary">Thoát</a>
			</div>
        </form>
    </div>
    <div th:replace="~{admin/footeradmin :: footer}"></div>
    <!-- Thêm các tệp tin JavaScript -->
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>