<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
    <div class="container mt-4 mb-4">
        <h1>Về chúng tôi</h1>
        <p>Chào mừng đến với không gian cửa hàng văn thơ của chúng tôi. Truy cập mọi lúc mọi nơi với giao diện
        đơn giản. Bạn có thể tìm những điều thú vị qua từng tác phẩm hoặc nhớ về những kỉ niệm cũ mà những câu
        thơ những lời văn gợi ra</p>
        <p>Từng thể loại thơ là từng cách riêng để thể hiện cảm xúc qua câu chữ. Đôi lúc sẽ có những câu thơ khó
        hiểu, đôi lúc sẽ rất dễ hiểu, đôi lúc nhiều ý khác nhau ở trong một câu thơ ...</p>
        <p>Thế kỉ nào tôi mới biết đến thơ</p>
        <p>Ờ đó là thế kỉ hai mươi mốt</p>
        <a class="btn btn-primary" th:href="@{/loginadmin}">Đổi vai trò</a>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
    <!-- Thêm các tệp tin JavaScript -->
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>