<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng xuất</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!-- Các thư viện Thymeleaf đã được thêm -->
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="card text-center">
            <div class="card-body">
                <h3 class="card-title">Bạn có muốn đăng xuất?</h3>
                <form th:action="@{/customer/logoutaccount}" method="post">
                    <button type="submit" class="btn btn-danger">Đăng xuất</button>
                    <a th:href="@{/}" class="btn btn-secondary">Không</a>
                </form>
            </div>
        </div>
    </div>
    
    <div th:replace="layout/footer :: footer"></div>
    <!-- Thêm các tệp tin JavaScript -->
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
